{% extends "admin/base.html" %}

{% block title %}Servicios - AlmasSalvajes{% endblock %}

{% block content %}
<div id="content-container">
    <div class="pageheader">
        <h3><i class="fa fa-cut"></i> Servicios </h3>
        <div class="breadcrumb-wrapper">
            <span class="label"></span>
            <ol class="breadcrumb">
                <li> <a href="#"> Administración </a> </li>
                <li class="active"> Servicios </li>
            </ol>
        </div>
    </div>
    <div id="page-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-body">

                        <div class="data-table">

                            <div class="row panel-search">
                                <div class="col-sm-6 col-md-9 col-lg-9 table-toolbar-left" style="margin-bottom: 10px;">
                                    <div class="btn-group container-full">
                                        <button class="btn btn-default btn-success" onclick="eventClickNuevo()"><i
                                                class="fa fa-plus mr-1"></i> Agregar</button>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3 col-lg-3 table-toolbar-right">
                                    <div class="form-group w-100 quick-search">
                                        <input id="txtBuscar" type="text" placeholder="Buscar por Nombre"
                                            class="form-control input-sm w-100" autocomplete="off">
                                    </div>
                                </div>
                            </div>


                            <div class="panel-table">
                                <div class="table-responsive">
                                    <table id="tableRegistros" class="table table-striped table-bordered mb-0">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Nº</th>
                                                <th class="sorting text-center">Nombre</th>
                                                <th class="sorting text-center">Tipo Mascota</th>
                                                <th class="sorting text-center">Categoría</th>
                                                <th class="text-center">Duración (min)</th>
                                                <th class="text-center">Costo</th>
                                                <th class="text-center">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>


                            <div class="panel-pag" style="margin-top: 10px;">
                                <div class="row">
                                    <div class="col-sm-6 col-md-5 col-lg-5 text-left table-pag-left">
                                        <span id="labelRegistros"></span>
                                        <select id="numRows"
                                            class="form-control drop-filter input-sm d-inline-block ml-3"
                                            style="width: 70px; display: inline-block;">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-7 col-lg-7 text-right table-pag-right">
                                        <div id="paginate">
                                            <ul class="pagination" style="margin: 0;"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalRegistro" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="label-title new">NUEVO</span> SERVICIO </h4>
            </div>

            <div class="modal-body">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Nombre</label>
                                    <input type="text" id="txtNombre" class="form-control"
                                        placeholder="Nombre del servicio">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Tipo de Mascota</label>
                                    <select id="selTipoMascota" class="form-control">
                                        <option value="Perro">Perro</option>
                                        <option value="Gato">Gato</option>
                                        <option value="Ave">Ave</option>
                                        <option value="Roedor">Roedor</option>
                                        <option value="Otro">Otro</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Categoría</label>
                                    <select id="selCategoria" class="form-control">
                                        <option value="Aseo">Aseo</option>
                                        <option value="Paseo">Paseo</option>
                                        <option value="Cuidado">Cuidado</option>
                                        <option value="Entrenamiento">Entrenamiento</option>
                                        <option value="Veterinaria">Veterinaria</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Duración (min)</label>
                                    <input type="number" id="txtDuracion" class="form-control" placeholder="0">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Costo</label>
                                    <input type="number" id="txtCosto" class="form-control" placeholder="0.00"
                                        step="0.01">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Descripción</label>
                                    <textarea id="txtDescripcion" class="form-control"
                                        placeholder="Descripción detallada"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Requisitos</label>
                                    <textarea id="txtRequisitos" class="form-control"
                                        placeholder="Requisitos previos"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="txtHorario">Horarios Disponibles</label>
                                    <input type="text" class="form-control" id="txtHorario" name="txtHorario" required
                                        placeholder="Ej. Lun-Vie 9-18h">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Personal Asignado</label>
                                    <input type="text" id="txtPersonal" class="form-control"
                                        placeholder="Nombre opcional">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                        class="fa fa-close mr-1"></i>Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="eventClickSaveRegistro()"><i
                        class="fa fa-save mr-1"></i>Guardar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var urlGetAll = '/api/adm_administracion_servicio/GetAll';
    var urlInsert = '/api/adm_administracion_servicio/Insert';
    var urlUpdate = '/api/adm_administracion_servicio/Update';
    var urlDelete = '/api/adm_administracion_servicio/Delete';
    var urlCountAll = '/api/adm_administracion_servicio/CountAll';
    var urlGetPaged = '/api/adm_administracion_servicio/GetPaged';
</script>
<script src="/static/js/admin/Administracion/servicio.js"></script>
{% endblock %}