.images{
  width: 24px;
  height: 24px;
}

.visually-hidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.carrusel {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100vw;
  margin: 40px auto;
}

.carrusel__contenedor {
  display: flex;
  transition: transform 0.5s ease;
}

.swiper-slide {
  min-width: 100%;
  flex-shrink: 0;
}

.swiper-slide img {
  width: 189vh;
  display: block;
  
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: #fff;
  border: none;
  padding: .5rem 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 4px;
}

.btn--prev { left: 10px; }
.btn--next { right: 10px; }
