*{
  box-sizing: border-box;
  margin: 0;
}
:host{
  --rojo-principal: #b40500;
  --negro-principal: #191919;
  background-color: #191919;
  color: #fff;
}

.bar{
  display: flex;
  background-color: var(--rojo-principal);
  align-items: center;
  justify-content: space-between;
  padding: 1rem 15%;
  width: 100%;

  form{
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 0.5rem;
    width: 50%;
    margin: auto;

    input{
      width: 100%;
      border: 0;
      border-radius: 10px;
      padding: 16px 48px 16px 20px;
      outline: none;
      background-color: var(--negro-principal);
      color: #fff;
    }

    button{
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      padding: 8px;
      cursor: pointer;

      svg{
        color: #fff;
      }
    }
  }

  nav{
    display: flex;
    gap: 2rem;
    .account {
      position: relative;
      div{
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 10px 14px;
        white-space: nowrap;
        text-align: center;
        visibility: hidden;
        background-color: #191919;
        left: 50%;
        transform: translateX(-50%);
        gap: 0.5rem;
        a{
          text-decoration: none;
          color: #fff;
        }
      }
      &:hover div{
        visibility: visible;
        pointer-events: auto;
      }
    }
    .images{
      width: 24px;
      height: 24px;
    }
  }
}

.nav{
  background-color: var(--rojo-principal);

  ul{
    list-style: none;
    display: flex;
    gap: 2.5rem;
    margin: 0;
    padding: 0 1rem 1rem 1rem;
    justify-content: center;

    a{
      color: #fff;
      text-decoration: none;
      font-size: 1.1rem;
      &:hover{
        text-decoration: underline;
      }
      
    }
  }
}


