{% extends "public_old/index.html" %}

{% block content %}
<div class="cart-container">
    <h2>Carrito de Compras</h2>
    <div id="cart-items">
        <div style="text-align: center; padding: 2rem;"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
    </div>
    <div class="total-section">
        <h3>Total: S/ <span id="cart-total">0.00</span></h3>
        <br>
        <a href="/checkout" class="btn-checkout">Proceder al Pago <i class="fa fa-arrow-right"></i></a>
    </div>
</div>
<script src="/static/js/public_old/cart.js"></script>
{% endblock %}