<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SuperPet | Tienda de Animales</title>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">


  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/static/css/styles.css">


  <script>
    window.USER_SESSION = {{ user | tojson | safe if user else 'null' }};
  </script>


  <script type="module" src="/static/js/public_old/main.js"></script>
</head>

<body>


  <header-component></header-component>


  <main id="content">
    {% block content %}{% endblock %}
  </main>


  <footer-component></footer-component>


  <login-component></login-component>

</body>

</html>