<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SuperPet | Tienda para Mascotas Online</title>

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="/static/css/styles.css">

  <script type="module" src="/static/js/public/main.js"></script>
  <script src="/static/js/public/auth.js"></script>
</head>

<body>
  <header>
    <header-component nombre="SuperPet" descripcion="Tienda de mascotas online"
      place_holder="Busca tus marcas y productos favoritos" pag_principal="/"></header-component>
  </header>
  <main class="auth-page">
    <div class="auth-container">

      <div class="auth-form-box login">
        <form id="loginForm" action="#">
          <h1>Iniciar sesión</h1>
          <div class="auth-input-box">
            <input type="text" placeholder="Usuario" required>
            <i class="fa-solid fa-user"></i>
          </div>
          <div class="auth-input-box">
            <input type="password" placeholder="Contraseña" required>
            <i class="fa-solid fa-lock"></i>
          </div>
          <div class="auth-forgot-link">
            <a href="#">Olvide mi contraseña</a>
          </div>
          <button type="submit" class="auth-btn">Iniciar sesión</button>
          <p>O inicia sesión con:</p>
          <div class="auth-social-icons">
            <a href="#"><i class="fa-brands fa-google"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </div>
        </form>
      </div>

      <div class="auth-toggle-box">

        <div class="auth-toggle-panel toggle-left">
          <h1>Bienvenido de nuevo</h1>
          <p>¿No tienes cuenta?</p>
          <a href="/register" target="_self"><button class="auth-btn register-btn">REGISTRARSE</button></a>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <footer-component></footer-component>
  </footer>
</body>

</html>